@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-animation {
  @apply transition duration-200 ease-in-out
         hover:-translate-y-1 hover:scale-105;
}


.btn-style {
  @apply transition duration-200 ease-in-out
         hover:-translate-y-1 hover:scale-105
         hover:bg-gradient-to-r from-indigo-500 via-blue-400 to-green-300
         border border-black text-gray-500 px-4 py-1
         rounded-xl cursor-pointer whitespace-nowrap;
}
.close {
  @apply bg-gradient-to-r from-indigo-500 via-blue-400 to-green-300
            bg-clip-text text-transparent
            hover:-translate-y-1 transition-transform
            cursor-pointer
            text-2xl;
}

.user-style {
  @apply font-extrabold tracking-tight 
        bg-gradient-to-r from-indigo-500 via-blue-400 to-green-300 bg-clip-text text-transparent drop-shadow-md;
}

.title-style {
  @apply text-3xl sm:text-4xl md:text-5xl font-extrabold tracking-tight 
         bg-gradient-to-r from-indigo-500 via-blue-400 to-green-300 
         bg-clip-text text-transparent drop-shadow-md 
}


.bg-mycolor-main {
  @apply bg-gradient-to-r from-blue-50 via-gray-100 to-blue-50 dark:from-black dark:via-gray-950 dark:to-black;
}

.bg-mycolor-custom {
  @apply bg-gradient-to-r from-blue-50 via-white to-blue-50 dark:from-black dark:via-gray-950 dark:to-black;
}

.btn-hover {
  @apply hover:bg-gradient-to-r from-indigo-500 via-blue-400 to-green-300 hover:text-black rounded-xl font-bold transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105 cursor-pointer;
}

.btn-link {
  @apply text-black dark:text-white bg-transparent dark:bg-gray-900 border border-black dark:hover:text-black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* clase que aplica la animación */
.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop-in {
  animation: popIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
